html {
  height:100%;
  scroll-behavior: smooth;
}
body {
  height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}

#pageloadbox
{
	position:fixed;
	width:200px;
	height:200px;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-100px;
	z-index:900;
}
#pageloadbox .visual{

}
#pageloadbox .text{
	padding:10px;
	text-align:center;
	background-color:black;
	color:white;
}


#developerbox
{
  position:fixed;
  min-width:20%;
  min-height:80px;
  right:2%;
  bottom: 2%;
  padding:5px;
  background-color:rgba(255,255,255,0.8);
  z-index: 999;
}




/* colors, styling & animation */
body
{
	background-color:#efefef;
}

.button,
.menubutton,
.contentswitch,
.togglebox,
.catbutton,
.tagbutton,
.coverimage img,
.coverimage .mediaplaceholder
{
cursor:hand;
cursor: pointer;
} 

#maincontainer
{
  height:100%;
}

/* toparea placeholder */
#maincontainer #toparea
{
	position:absolute;
	top:0px;
	width:100%;

	z-index:600;

	/*background-color:grey;*/
}
#toparea #topcontainer
{
	max-width:880px;
	margin:0px auto;
}
.pagemenu #toparea #topcontainer
{
	box-shadow: 0px 2px 15px -4px rgba(18,18,18,1);
}
#toparea #topcontainer #topbar
{
	height:76px;
}
#toparea #topcontainer #topbar .placeholder
{
}
#toparea #topcontainer #infocontainer
{
	/*background-color:turquoise;*/
}


/* mainarea content panels*/
#maincontainer #mainarea
{
	width:100vw;
	margin-top:76px;
	height:calc(100% - 76px);

	background-color: pink;
}
#toparea #topcontainer,
#toparea #topcontainer #infocontainer,
#maincontainer #leftmenu-toggle,
#maincontainer #rightmenu-toggle,
#maincontainer #rightmenu-container,
#maincontainer #leftmenu-container,
#mainarea #rightcontainer,
#mainarea #contentswitch,
#mainarea #leftcontainer,
#mainarea #leftcontainer .placeholder
{
	transition: all linear 0.3s;
}
#mainarea #rightcontainer .placeholder .contentarea,
#mainarea #leftcontainer .placeholder .contentarea
{
}
#mainarea #rightcontainer .placeholder .contentarea .itemcontainer,
#mainarea #leftcontainer .placeholder .contentarea .itemcontainer
{
	background-color:silver;
}


/* mainarea content */
#mainarea #rightcontainer
{
	background-color:orange;
}
#mainarea #contentswitch
{
	background-color:silver;
}
#mainarea #contentswitch .placeholder
{
	opacity:0.3;

	z-index:500;

	background-color:brown;
}
#mainarea #leftcontainer
{
	background-color:green;
}

img {
  max-width: 100% !important;
  height: auto;
}

/* tagmenu and selections */
.tagbutton
{
  display:inline-block;
}
.selected{
	background-color:red;
}
.menucontainer.rightmenu .tagbutton.selected
{
  display:none;
}
#rightmenu-container #tagmenu .tagbutton.selected
{
  display:inline-block;
}



.button
{
  cursor:hand;
  cursor:pointer;
}


/* menu panel toggles */
#maincontainer #rightmenu-toggle
{
	background-color:blue;
	z-index:700;
}
#maincontainer #rightmenu-container
{
	background-color:blue;
	z-index:400;
}
#maincontainer #leftmenu-toggle
{
	background-color:blue;
	z-index:700;
}
#maincontainer #leftmenu-container
{
	background-color:blue;
	z-index:400;
}





/* Responsive */
@media screen and (max-width: 960px) {


.pagemenu #toparea #topcontainer #infocontainer
{
	height:calc(100% - 76px);
	overflow-y:auto;
  scroll-behavior: smooth;
}

#maincontainer #mainarea
{
  height:calc(100% - 76px);
  display: -ms-flexbox;
	display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#mainarea #contentswitch
{
  -ms-flex: 0;
  -webkit-flex: 0;
	flex: 0;
}
#mainarea #contentswitch .placeholder
{
	position:absolute;
	margin-top:-25px;
	width:100%;
	height:50px;
}

#mainarea #rightcontainer
{
	-ms-flex: calc(100% - 25px);
  -webkit-flex: calc(100% - 25px);
	flex: calc(100% - 25px);
	overflow-y:auto;
  scroll-behavior: smooth;
}
#mainarea #rightcontainer .placeholder .contentarea .itemcontainer
{
	margin:0px 0px 0px 2%;
	width:98%;
}


#mainarea #leftcontainer
{
  -ms-flex: 25px;
  -webkit-flex: 25px;
	flex: 25px;
	overflow:hidden;
}


.leftview #mainarea #rightcontainer
{
  -ms-flex: 25px;
  -webkit-flex: 25px;
  flex: 25px;
	overflow:hidden;
}
.leftview #mainarea #leftcontainer
{
  -ms-flex: calc(100% - 25px);
  -webkit-flex: calc(100% - 25px);
	flex: calc(100% - 25px);
	overflow-y:auto;
  scroll-behavior: smooth;
}



#leftmenu-toggle,
#rightmenu-toggle,
#leftmenu-container,
#rightmenu-container
{
	display: none;
}

}








@media screen and (min-width: 960px) {

#maincontainer #toparea
{
	position:absolute;
	top:0px;
	width:100%;
	height:90px;
}

.pagemenu #toparea #topcontainer #infocontainer
{
	height:auto;
	min-height:calc(90vh - 90px);
	background-color:#846320;
}
.pagemenu #toparea #topcontainer #infocontainer .placeholder
{
}
.pagemenu #toparea #topcontainer #infocontainer .placeholder .contentmenu
{
	padding:0px 60px;
	height:54px;
}
.pagemenu #toparea #topcontainer #infocontainer .placeholder .contentarea
{
	padding:0px 60px;
	height:auto;
	max-height:calc(100vh - 144px);
	overflow-y:auto;
  scroll-behavior: smooth;
}
#maincontainer #mainarea
{
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width:100vw;
	margin-top:0px;
	height:100vh;
	-ms-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse; /* row */
}

#mainarea #contentswitch
{
  -ms-flex: 0;
  -webkit-flex: 0;
  flex: 0;
}
#mainarea #contentswitch .placeholder
{
	position:absolute;
	top:0px;
	width:50px;
	margin-left:-25px;
	height:100vh;
}

#mainarea #rightcontainer
{
	position:relative;
  -ms-flex: 86%;
  -webkit-flex: 86%;
	flex: 86%;
}
#mainarea #leftcontainer
{
  -ms-flex: 14%;
  -webkit-flex: 14%;
	flex:14%;
}

/* leftcontent */
#mainarea #leftcontainer .placeholder
{

	position:absolute;
	left:-50%;
	width:60%;
	background-color:#498732;
	z-index:300;
}
.leftview #mainarea #leftcontainer .placeholder
{
	position:absolute;
	left:0px;
	width:100%;
	z-index:300;
}
#mainarea #leftcontainer .placeholder .contentarea
{
	margin:90px auto 0px;
	max-width:960px;
	width:58%;
}
#mainarea #leftcontainer .placeholder .contentarea .itemcontainer
{
	margin:0px 60px;
	height:calc(100vh - 90px);
	overflow-y:auto;
  scroll-behavior: smooth;
}

/* rightcontent */
#mainarea #rightcontainer .placeholder
{
	position:relative;
	width:100%;
	z-index:400;
}
#mainarea #rightcontainer .placeholder .contentarea
{
	height:100vh;
	width:100%;
	overflow-y:auto;
  scroll-behavior: smooth;
}
#mainarea #rightcontainer .placeholder .contentarea .itemcontainer
{
	margin:110px 0px 0px 3%;
	width:95%;
}




/* leftmenu open on rightview (default) */
.leftmenu #mainarea #rightcontainer
{
  -ms-flex: 79%;
  -webkit-flex: 79%;
	flex: 79%;
}
.leftmenu #mainarea #leftcontainer
{
  -ms-flex: 21%;
  -webkit-flex: 21%;
	flex:21%;
}
/* leftview open (with or without menu) */
.leftview #mainarea #rightcontainer
{
  -ms-flex: 21%;
  -webkit-flex: 21%;
	flex: 21%;
}
.leftview #mainarea #leftcontainer
{
  -ms-flex: 79%;
  -webkit-flex: 79%;
	flex:79%;
}


#maincontainer #rightmenu-toggle
{
	position:absolute;
	top:0px;
	min-width:190px;
	width:21%;
	max-width:240px;
	right:0px;
	text-align:right;
}
#maincontainer.rightmenu #rightmenu-toggle
{
	width:21%;
	max-width:400px;
}
#maincontainer #rightmenu-toggle .placeholder
{
	height:90px;
}

#maincontainer #rightmenu-container
{
	position:absolute;
	top:90px;
	right:-400px;
	width:21%;
	max-width:400px;
	height:calc(100vh - 90px);
}
#maincontainer.rightmenu #rightmenu-container
{
	right:0px;
}


#maincontainer #leftmenu-toggle
{
	position:absolute;
	top:0px;
	min-width:190px;
	width:21%;
	max-width:240px;
}
#maincontainer.leftmenu  #leftmenu-toggle
{
	width:21%;
	max-width:400px;
}
#maincontainer #leftmenu-toggle .placeholder
{
	height:90px;
}

#maincontainer #leftmenu-container
{
	position:absolute;
	top:90px;
	left:-400px;
	width:21%;
	max-width:400px;
	height:calc(100vh - 90px);
}
#maincontainer.leftmenu #leftmenu-container
{
	left:0px;
}

#leftmenu-container .placeholder
{
	height:100%;
	overflow-y:auto;
  scroll-behavior: smooth;
}
#leftmenu-container .placeholder .menucontainer
{
	min-height:100%;
}



}
